<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Marble it Up! Server config</title>
</head>
<body>
    <form onsubmit="submitForm(event);">
        <div class="form-group">
            <label for="weekly">Choose weekly</label>
            <select class="form-control" id="weekly" name="weekly">
                {% for value, name in weeklys.items() %}
                    <option value="{{value}}" {% if value == weekly %}selected{% endif %}>{{name}}</option>
                {% endfor %}
                <option value="online">Online weekly challenge</option>
            </select>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="offline_weekly" name="offline_weekly" {% if offline_weekly %}checked{% endif %}>
            <label class="form-check-label" for="offline_weekly">
                Should weekly results be offline
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="offline_normal" name="offline_normal" {% if offline_normal %}checked{% endif %}>
            <label class="form-check-label" for="offline_normal">
                Should normal results be offline
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="download_replays" name="download_replays" {% if download_replays %}checked{% endif %}>
            <label class="form-check-label" for="download_replays">
                Should replays be saved to replays/
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="account_changer" name="account_changer" {% if account_changer %}checked{% endif %}>
            <label class="form-check-label" for="download_replays">
                Should your account be changed on the server?
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <script>
        function submitForm(event) {
            event.preventDefault(); // Prevents the default form submission behavior

            var weekly = document.getElementById("weekly").value;
            var offline_weekly = document.getElementById("offline_weekly").checked;
            var offline_normal = document.getElementById("offline_normal").checked;
            var download_replays =  document.getElementById("download_replays").checked;
            var account_changer = document.getElementById("account_changer").checked;

            // Prepare data to send to the API
            var jsonData = {
                offline_weekly: offline_weekly,
                offline_normal: offline_normal,
                download_replays: download_replays,
                account_changer: account_changer,
                weekly: weekly
            };

            // Specify the API endpoint
            var apiEndpoint = "/api/config";

            // Use the fetch API to send a POST request to the API
            fetch(apiEndpoint, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(jsonData)
            })
            .then(data => {
                console.log("API response:", data);
                // Handle the API response as needed
                window.location.reload();
            })
            .catch(error => {
                console.error("Error:", error);
                // Handle errors
            });
        }
    </script>

</body>
</html>